<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Demo</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="container">
      <div class="locale">
        <p>Language</p>
        <select id="locale">
          <option value="EN">EN</option>
          <option value="KR">KR</option>
          <option value="JP">JP</option>
        </select>
      </div>
      <form class="form-subscribe">
        <label for="email" class="sr-only">Email address</label>
        <input type="text" id="email" class="form-control" placeholder="Email address" autofocus>
        <label for="name" class="sr-only">Full Name</label>
        <input type="text" id="name" class="form-control" placeholder="Full Name">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Subscribe</button>
      </form>  
      <div>
        <br>
        <a href="https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=<%= inClientId %>&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fauth%2Fin&state=<%= csrfToken %>&scope=r_basicprofile%20r_network" id="li-connect" class="btn btn-success">Invite friends from LinkedIn</a>
      </div>
    </div>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      $(function() {
        $('.form-subscribe').submit( function(e) {
          e.preventDefault();
          $.ajax({
            method: "POST",
            url: "/subscribe",
            data: { 
              email: $('#email').val(), 
              name: $('#name').val(), 
              locale: $( "#locale option:selected" ).text()
            }
          })
          .done(function(result) {
            $('#email').val('');
            $('#name').val('');
            alert(result.message);
          })
          .fail(function(jqXHR) {
            alert(jqXHR.responseJSON.errMessage);
          });
        });
      });  
    </script>
  </body>
</html>
